@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&family=Pacifico&display=swap');

:root::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
:root {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none !important; /* Firefox */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: PT Sans Caption;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Header */

header {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  height: 8vh;
  width: 100%;
  /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
}

nav {
  display: flex;
  height: 100%;
  width: 100vw;
  max-width: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #f8afa6;
}

nav > a {
  color: #f9f1f0;
  font-family: Pacifico;
  font-size: 50px;
  line-height: 8vh;
  max-height: 8vh;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 500ms ease-in-out;
}

nav > a:hover {
  text-shadow: 0px 8px 6px rgba(0, 0, 0, 0.25);
  transition: all 300ms ease-in-out;
}

nav ul {
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

nav ul li a {
  font-family: PT Sans Caption;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  padding: 0.7rem;
  color: #f9f1f0;
  transition: all 500ms ease-in-out;
}

nav ul li a:hover {
  text-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
  transition: all 400ms ease-in-out;
}

/* Main */

main {
  width: 100vw;
  max-width: 100%;
  overflow-x: hidden;
}

section {
  width: 100vw;
  max-width: inherit;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section *:nth-child(1) {
  width: 40vw;
}

main section:nth-child(1) {
  background-color: #f9f1f0;
}

main section:nth-child(3) {
  background-color: #f79489;
}

main section:nth-child(5) {
  background-color: #f9f1f0;
}

.wave-wrapper > svg {
  position: absolute;
  left: 0; /* Só pra garantir que não vai bugar nunca. */
  right: 0;
  filter: drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.25));
}

.wave-wrapper:nth-child(1) > svg {
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}

.home-wrapper h1 {
  font-size: 90px;
  font-style: normal;
  font-weight: bold;
  color: #f79489;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
}

.home-wrapper p {
  text-align: center;
  color: #7a7676;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  margin-top: 5px;
}

.home-wrapper a {
  display: block;
  text-align: center;
  margin: 0 auto;
  width: 120px;
  height: 60px;
  background-color: #f8afa6;
  border-radius: 50px;
  line-height: 55px;
  color: #f9f1f0;
  font-size: 26px;
  margin-top: 14px;
  font-style: normal;
  font-weight: bold;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 400ms ease-in-out;
}

.home-wrapper a:hover {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  background-color: #f79489;
  transition: all 400ms ease-in-out;
}

section > .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: inherit;
  gap: 30px;
}

.img-wrapper > img {
  width: 500px;
  height: 500px;
}

.text-wrapper h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 70px;
}

.text-wrapper p {
  color: #7a7676;
  font-style: normal;
  font-weight: normal;
  margin-top: 10px;
  font-size: 20px;
}
.text-wrapper:nth-child(1) h1 {
  color: #f9f1f0;
  text-align: left;
}

.text-wrapper:nth-child(2) h1 {
  color: #f79489;
  text-align: right;
}

.text-wrapper:nth-child(1) p {
  text-align: left;
}
.text-wrapper:nth-child(2) p {
  text-align: right;
}

/* Media Querys */

@media screen and (max-width: 768px) {
  /* Header */

  nav ul {
    display: none;
  }

  nav {
    justify-content: center;
  }

  /* Main */

  section *:nth-child(1) {
    width: 92vw;
  }

  section > .wrapper {
    flex-direction: column;
    gap: 0px;
  }

  .home-wrapper h1 {
    font-size: 70px;
  }

  .home-wrapper p {
    font-size: 18px;
  }
}
